(
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          flags: (
            bits: 2,
          ),
        ),
        "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
          id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 9542336502536632026),
        ),
        "bevy_render::primitives::Aabb": (
          center: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          half_extents: (
            x: 0.5,
            y: 0.5,
            z: 0.5,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
          id: Id("7494888b-c082-457b-aacf-517228cc0c22", 2453590501303401354),
        ),
      },
    ),
  },
)